#centerBody {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    background: #ecf0f1;
}

#centerBody .centerBody-margin {
    height: 100%;
    width: 86%;
    margin-left: 7%;
}

#centerBody .timu {
    color: #2c3e50;
    font-size: 32px;
    font-weight: bold;
    margin-top: 35px;
}

.content {
    height: 100%;
    margin-top: 15px;
}

.timu-erji {
    color: #2c3e50;
    font-size: 24px;
    font-weight: bold;
    margin-top: 35px;
}

.zhushi {
    color: #bdc3c7;
}