@margin: 10px;
@el-input-width: 200px;
.el-input{
    width: @el-input-width;
}
.el-input__inner{
    width: @el-input-width;
}
.fangfajieshao {
    color: black;
    font-size: 25px;
    font-family: cursive;
    .fangfa{
        color: rgb(255, 127, 52);
        font-size: 22px;
        background: #3498db5b;
        padding: 7px 10px;
    }
}